h3.ui.top.attached.header Configure Service /{{service}}
  i.icon.loading(ng-show="loading")
form.ui.form.attached.segment
  .field
    label Name:
    input.ui.input(ng-model="name")
  .field
    label SPARQL Endpoint:
    input.ui.input(ng-model="endpointURL")
  .field
    label Query:
    yasqe.ui.input(data="query")
  .inline.field
    label Maximum N-gram length
    input.ui.input(ng-model="maxNGrams")
  .inline.field
    label (Default) LAS Locale
    input.ui.input(ng-model="lasLocale",size="2")
  .inline.fields
    label Query using:
    .field
      label Original form:
      input.ui.input(type="checkbox",ng-model="queryUsingOriginalForm")
    .field
      label Base form:
      input.ui.input(type="checkbox",ng-model="queryUsingBaseform")
    .field
      label Inflections:
      input.ui.input(ng-model="queryUsingInflections")
  .inline.fields
    label Query modifying:
    .field
      label Every part:
      input.ui.input(type="checkbox",ng-model="queryModifyingEveryPart")
    .field
      label Only last part:
      input.ui.input(type="checkbox",ng-model="queryModifyingOnlyLastPart")
      
  .field
    label LAS Filters to Apply:
    input.ui.input(ng-model="lasFilters")
  button.ui.green.button(ng-click="submit()") Submit
  button.ui.red.button(ng-click="delete()") Delete
